#rsocial{
    
    
    height: 55px;
    padding: 0px;
    margin-bottom: 0px;
    background-color: #6AA84F;
    color: honeydew;     
    position:absolute;
    top: 0px;
    left: 0px;
    z-index: 4;

}

#socialicon li{
    
    margin-top: 1%;
    list-style-type: none;
    display: inline;
    overflow: hidden;
    float: right;
}

#iconpapel {
    clear: both;
    color: ghostwhite;
    margin-top: 1%;
    padding-left: 20px;
    list-style-type: none;
    display: inline;
    overflow: hidden;
    float: left;
}
#welcome{
    font-size: 15px;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.bg-dark {
    background-image: linear-gradient(#141414, #5dcf7c);
    
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0)
}

.navbar-light .navbar-nav .nav-link:hover {
    color: white
}

section#contact {
    background-color: #212529;
    background-image: url(../myStyles/map-image.png); 
    background-repeat: no-repeat;
    background-position: center;
}

